body{
    margin: 0px;
    background-color: antiquewhite;
    background-image: url(images/background.jpg);
    background-position: center;
    background-attachment: fixed;
}
header{
    background-color: antiquewhite;
}
.nameg{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 40px;
}

#main {
    font-family: "Protest Strike", sans-serif;
    font-weight: 200;
    font-size: 2em;
    color: #498b08;
    padding-top: 20px;
}
#main span{
    color: goldenrod;
}
.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-left: 10px;
    box-shadow:  3px 3px 5px;
    margin: 0%;
}
#nick{
    color:#498b08;
    font-family: "Protest Strike", sans-serif;
    font-size: 1em;
    font-weight: 100;
}
.navigations{
    justify-content: space-between;
    width: 60%;
    display: flex;
    gap: 10px;
    padding-left: 100px;
    padding-right: 50px;
    font-family: "Spicy Rice", serif;
    font-size: 2em;
    text-decoration: none;
    list-style-type: none;
    background-color: antiquewhite;
    margin: 0px;
}
.navigations a {
    text-decoration: none;
    text-align: center;
    flex-grow: 1; /* Allow the links to grow and take up available space */
    color: goldenrod;
    display: block;
}
.navigations a:hover{
    background-color: rgb(202, 185, 164);
    color: #498b08;
}
section{
    margin-top: 10px;
}
.homepage{
    height: 800px;
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
    animation-name: slideLeft;
    animation-duration: 1s;
    font-size: 3em;
}
.products-offers {
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensure space between the items */
 /* Align the items at the top */ /* Adjust the height dynamically */
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
    animation-name: slideLeft;
    animation-duration: 1s;
    font-size: 1em;
}
#hello-products{
    margin-bottom: 200px; /* Adds space between the hello and the offer items */
    font-size: 2rem; /* Optional: increase font size */
}

.offer-items-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.offer-item {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 0.5rem;
    width: 30%; /* Adjust width so three items fit on the same row */
    text-align: left;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Optional: add shadow for visual depth */
}

.offer-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.offer-item a {
    color: #3498db;
    text-decoration: none;
}

.offer-item a:hover {
    text-decoration: underline;
}
@keyframes slideLeft{
    from{transform: translateX(300%)}
}



